body {
    background: #444;
    margin: 0;
    padding: 0;
}

textarea#main {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -2.9in;
    margin-top: -3.7in;
    padding: .2in;
    height: 7in;
    width: 5.4in;

    font-family: "Consolas", "Microsoft Yahei", "monospace";
    font-size: .145in;
    line-height: .22in;
    border: 0;
    border-radius: .15in;
    outline: none;
    background: #fff;
}

form {
    background: #333;
    margin: auto;
    text-align: center;
    vertical-align: middle;
}

