body {
    background: #222;
    margin: 0;
    padding: 0;
}

div.test {
    /* font-family: "Microsoft YaHei"; */
    font-size: 80%;
}

textarea#main {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -2.9in;
    margin-top: -3.7in;
    padding: .2in;
    height: 7in;
    width: 5.4in;

    font-family: "Consolas", "Microsoft YaHei", "sans-serif";
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    border: 0;
    border-radius: .15in;
    outline: none;
    background: #eee;
    color: #333;
}

form {
    margin: auto;
    text-align: center;
    vertical-align: middle;
}

